{{#> layout }}
  {{#with entry}}
    <div class="box">
      <p><small><em>{{createdAt}}</em></small></p>
      <div class="tags">
        {{#each tags}}
        <a href="{{../../config.url}}tag/{{this}}" class="tag">{{this}}</a>
        {{/each}}
      </div>
      <hr>
      <div class="content">{{markdown body}}</div>
      <hr>
      <p>
        <a href="./"><i class="fa fa-home" aria-hidden="true"></i></a>
        &gt;
        <a href="{{../config.url}}{{name}}">{{title}}</a>
      </p>
    </div>
  {{/with}}
{{/layout}}
